@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Inter: "Inter", "sans-serif";

  --color-p1: #00053d;
  --color-p2: #29b170;
  --color-b1: #363636;
  --color-b2: #e9e9e9;
  --color-d1: #737373;
  --color-d2: #333333;
  --color-t1: #464646;
  --color-b2: #d9d9d9;

  --color-b1: hsl(214.3 31.8% 81.4%);

  --breakpoint-3xl: 1920px;
}

body {
  font-family: "Inter";
}

@layer components {
  .bannerTitle {
    @apply font-bold text-[68px] leading-[50px] text-p1;
  }

  .tabBtn {
    @apply border-[#4444] hover:bg-p1 cursor-pointer hover:text-white border rounded-xl  px-4 py-2;
  }
}

/* Thin Scrollbar */
::-webkit-scrollbar {
  width: 7px; /* For vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.upvoteBtn:hover + .upvote {
  display: block;
}
.seeCommentsBtn:hover + .seeComments {
  display: block;
}
